[package]
name = "shared"
version = "0.1.0"
edition = "2021"

[dependencies]
tfhe = { version = "0.9", features = ["boolean", "shortint", "integer", "x86_64"] }
serde = { version = "1.0", features = ["derive"] }
bincode = "1.3"